<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O Frila usa sua localização só quando você toca em fazer check-in ou check-out, para medir a distância até o endereço da vaga. Só a distância é enviada.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>CheckIn</key>
		<string>A localização precisa confirma que você está no endereço da vaga neste check-in ou check-out.</string>
	</dict>
	<key>FRILA_API_MODE</key>
	<string>$(FRILA_API_MODE)</string>
	<key>FRILA_APP_STORE_URL</key>
	<string>$(FRILA_APP_STORE_URL)</string>
	<key>FRILA_ENVIRONMENT</key>
	<string>$(FRILA_ENVIRONMENT)</string>
	<key>FRILA_SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(FRILA_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>FRILA_SUPABASE_URL</key>
	<string>$(FRILA_SUPABASE_URL)</string>
</dict>
</plist>
